@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url("qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaE0lO.eot"/*tpa=http://fonts.gstatic.com/s/karla/v22/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaE0lO.eot*/);
}
