@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 400;
  src: url("3Jn5SD_-ynaxmxnEfVHPIG0CduE.eot"/*tpa=http://fonts.gstatic.com/s/muktavaani/v13/3Jn5SD_-ynaxmxnEfVHPIG0CduE.eot*/);
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url("XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3iw.eot"/*tpa=http://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3iw.eot*/);
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYQ.eot"/*tpa=http://fonts.gstatic.com/s/oswald/v48/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYQ.eot*/);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("KFOmCnqEu92Fr1Mu4mxO.eot"/*tpa=http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxO.eot*/);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot"/*tpa=http://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot*/);
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url("LYjNdG7kmE0gfaN9oQ.eot"/*tpa=http://fonts.gstatic.com/s/teko/v15/LYjNdG7kmE0gfaN9oQ.eot*/);
}
